.wrap-series {
  >.selections {
    .container {
      ul {
        display: flex;

        li {
          border: 1px solid #DCDCDC;
          padding: 16px 0;
          width: 100%;
          font-family: "Roboto", sans-serif;
          font-size: 32px;
          text-align: center;
        }
      }
    }
  }
}